*{
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100%;
    margin: 0;
    font-family: 'Roboto';
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeIn 2s forwards;
    position: relative;
    z-index: 0;
    filter: blur(1.5px);
}

.buttons{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
    padding: 1rem;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes jumpIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 3rem;
}

main p {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    margin-top: 5%;
    font-size: 1.5rem; 
}

button {
    position: relative;
    width: 12rem;
    height: 21rem;
    z-index: 2;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 0px; 
    border: none;
    cursor: pointer;
    border-radius: 0.3125rem; 
    font-size: 1rem; 
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    animation: jumpIn 0.5s ease forwards;
    opacity: 0; /* Start hidden */
}

.card_nations{
    width: 12rem;
    height: 21rem;
    perspective: 1000px;
    position: relative;
}

.card_nations img{
    width: 100%;
    height: 100%;
}

.card_nations:hover{
    transform: scale(1.05);
}

.card_nations > div {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card_front {
    transform: rotateY(0deg);
}

.card_back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Adjust as needed */
    color: #000; /* Adjust as needed */
}

button:nth-child(1) {
    animation-delay: 0.2s;
}

button:nth-child(2) {
    animation-delay: 0.4s;
}

button:nth-child(3) {
    animation-delay: 0.6s;
}

button:nth-child(4) {
    animation-delay: 0.8s;
}

button:hover {
    /* background-color: #5A00B2; Darker shade of the original color */
    transform: scale(1.15);
}

button:hover .card_front {
    transform: rotateY(-180deg);
}

button:hover .card_back {
    transform: rotateY(0deg);
}

/* footer css starts here */
  
footer{
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    margin-top: 5rem;
}

.footer_container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
}

.footer_logo{
    width: 10%;
}

.footer_logo img{
    width: 100%;
    height: auto;
}

.footer_text_container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.footer_text{
    width: 20%;
    margin: 0px;
}

.footer_text p{
    font-size: 16px;
}

.footer_text li{
    font-size: 14px;
    list-style-type: none;
}

.footer_bottom {
    margin: 0 auto;
    padding: 1rem;
    background-color: black;
}

.copyright_text{
    font-size: 18px;
    text-align: center;
}
