body {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white for better contrast */
}

h1 {
    text-align: center;
    margin-top: 2% auto 0 auto;
    font-size: 3rem;
    color: #c36f11;
}

p {
    margin: 2%;
    font-size: 1.5rem;
}

.banner {
    width: 20%; /* Adjust the width as needed */
    float: right;
    margin: 2%;
    animation: fadeInFromRight 1s ease forwards; /* Apply fade-in from right animation */
    opacity: 0; /* Start hidden */
}

@keyframes fadeInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.nav img {
    width: 80%; /* Adjust the width as needed */
    height: auto;
    cursor: pointer;
    border: 0.5rem solid #c36f11;
    transition: transform 0.3s ease;
}

.nav img:hover {
    transform: scale(1.1);
}

#back{
    position: absolute;
    background-color: #b01717; 
    top: 3rem;
    left: 1rem;
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.3s, transform 0.3s; 
}