*{
    font-family: "Eagle Lake", serif;
}
h1, h2{
    color: white;
}

body {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 20px;
    background-image: url('../img/The_Drunken_Sails_Logo_3_Horizontal_Wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#preview {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 485px;
    height: 720px;
    border: 1px solid #000;
    margin-top: 20px;
}

#user-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.card-template {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}


#cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* General button styles */
#filter-buttons button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.3s, transform 0.3s; 
}

/* Hover effects */
#filter-buttons button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}

/* Active button styles */
#filter-buttons button.active {
    background-color: #3e8e41; 
}

.card {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    margin: 0;
}

.card-rarity {
    color: #555;
}


/* Pop-out effect on hover */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}

.plus-icon {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
    font-size: 1.5rem;;
    color: rgb(255, 0, 0);
}

#deck-container {
    display: none;
}
#deck-container h2 {
    margin: 0;
}

#deck-container p {
    margin: 5px 0;
}

#back{
    background-color: #b01717; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.3s, transform 0.3s; 
}


#deck-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#deck-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#deck-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#deck-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#deck-modal .close:hover,
#deck-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#deck-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#deck-list li {
    margin: 10px 0;
}

.deck-card-image {
    width: 3rem; /* Adjust the size as needed */
    height: auto;
}

.deck-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px; /* Adjust the size as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Drawn card styles */
.drawn-card-image {
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

/* Style for the drawn card container */
.drawn-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px; /* Adjust the size as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
}

#draw-button {
    position: fixed;
    top: 60px;
    right: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#draw-container {
    margin-top: 100px; /* Adjust as needed to ensure visibility */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block; /* Ensure the container is displayed */
}



/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.modal img {
    width: 100%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}